extends layout

block layout-content
  div.View
    div.Message
        h1 Welcome to Do It!
        h3 A todo tracker featuring authentication with Auth0 and storage via MongoDB. 
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Get Started!
      else
        a(href="/login")
          div.NavButton Log in
