* {
  box-sizing: border-box; }

html,
body,
#root {
  height: 100%;
  width: 100%; }

body {
  background: #ECEFF4;
  color: #2E3440; }

a {
  color: #5E81AC; }

#root {
  display: flex;
  flex-direction: column; }

input[type="text"],
input[type="date"] {
  background: #ECEFF4;
  margin: 2px;
  border-bottom: solid 2px #2E3440;
  border-top: none;
  border-left: none;
  border-right: none; }

input[type="submit"] {
  background: #5E81AC;
  color: #ECEFF4;
  border: none;
  border-radius: 5px; }

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 20px; }

.Message {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  background: #ECEFF4;
  padding: 30px; }

.Message > .Title {
  padding-bottom: 20px;
  display: flex; }

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; }

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 150px;
  background: #5E81AC;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: capitalize; }
