// Colors from Nord color pallete
$fg0: #2E3440;
$fg1: #3b4252;
$bg0: #ECEFF4;
$link: #5E81AC;


* {
    box-sizing: border-box;
}


html,
body,
#root {
    height: 100%;
    width: 100%;
}


body {
    background: $bg0;
    color: $fg0;
}


a {
    color: $link;
}


#root {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="date"] {
    background: $bg0;
    margin: 2px;
    border-bottom: solid 2px $fg0;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="submit"] {
    background: $link;
    color: $bg0;
    border: none;
    border-radius: 5px;
}

.View {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; height: 100%; width: 100%;

    padding: 20px;
}

.Message {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    background: $bg0;
}

.Tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  max-height: 75vh;
  padding: 5px;
}

.Task {
  display: flex;
  justify-content: start;
}

.taskItem {
  padding-left: 10px;
}

#tags {
  color: $fg1;
}

em {
  font-size: 14px;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  background: $link;

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;
}
