* {
  box-sizing: border-box; }

html,
body,
#root {
  height: 100%;
  width: 100%; }

body {
  background: #ECEFF4;
  color: #2E3440; }

a {
  color: #5E81AC; }

#root {
  display: flex;
  flex-direction: column; }

input[type="text"],
input[type="date"] {
  background: #ECEFF4;
  margin: 2px;
  border-bottom: solid 2px #2E3440;
  border-top: none;
  border-left: none;
  border-right: none; }

input[type="submit"] {
  background: #5E81AC;
  color: #ECEFF4;
  margin: 2px;
  border: none;
  border-radius: 5px; }

.taskItem > form > input[type="submit"] {
  background: none;
  color: #2E3440;
  font-size: 16px; }

.View {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto; }

.Message {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  background: #ECEFF4; }

ul {
  list-style-type: none;
  padding-left: 5px; }

#showUncompleted,
#showAll,
#showCompleted {
  display: none;
  height: auto;
  width: auto;
  background: none;
  color: #ECEFF4; }

#showUncompleted:hover,
#showAll:hover,
#showCompleted:hover {
  background: #5E81AC; }

.displayMenu {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
  background: #ECEFF4;
  border-radius: 5px; }

.showMenu {
  padding: 3px;
  border-radius: 5px;
  background: #3b4252;
  color: #ECEFF4; }

.showMenu:hover {
  cursor: default; }

.showMenu:hover #showAll,
.showMenu:hover #showCompleted,
.showMenu:hover #showUncompleted {
  color: #ECEFF4;
  display: block; }

#tagLabel {
  color: #3b4252; }

#tagList {
  display: flex;
  max-width: 800px; }

.Tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  max-height: 75vh;
  width: 100%;
  padding: 5px;
  margin: 20px 0px 20px 0px; }

.Task {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.taskBody {
  display: flex;
  justify-content: space-evenly; }

.taskInfo {
  display: flex; }

.taskItem {
  display: flex;
  padding-left: 10px;
  justify-content: space-between; }

#deleteTask,
#showEditForm {
  visibility: hidden; }

.taskBody:hover #deleteTask {
  visibility: visible; }

.taskBody:hover #showEditForm {
  visibility: visible; }

#editTask {
  width: 100%; }

#tags {
  color: #3b4252; }

em {
  font-size: 14px; }

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px; }

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 150px;
  background: #5E81AC;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #ECEFF4;
  text-transform: capitalize; }
