// Colors from Nord color pallete
$fg0: #eceff4;
$fg1: #e5e9f0;
$bg0: #2e3440;
$link: #5e81ac;
$tags: #a3be8c;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: $bg0;
  color: $fg0;
}

a {
  color: $link;
}

#root {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="date"] {
  background: $bg0;
  color: $fg1;
  margin: 2px;
  border-bottom: solid 2px $fg0;
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type="submit"] {
  background: $link;
  color: $bg0;
  margin: 2px;
  border: none;
  border-radius: 5px;
}

.taskItem > form > input[type="submit"] {
  background: none;
  color: $fg0;
  font-size: 16px;
}

.View {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.Message {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 100%;
  background: $bg0;
}

// style the show/view buttons
ul {
  display: flex;
  list-style-type: none;
  padding-left: 5px;
}

//hide buttons at start
#showUncompleted,
#showAll,
#showCompleted,
#viewMinimal,
#viewRegular,
#viewFull,
#sortByDateCompleted,
#sortByDueDate {
  height: 0px;
  opacity: 0;
  border-radius: 3px;
  background: none;
  color: $bg0;
  transition: all 0.5s ease-out;
}

//sub-menu hinting
#showUncompleted input[type="submit"],
#showAll input[type="submit"],
#showCompleted input[type="submit"],
#viewMinimal input[type="submit"],
#viewRegular input[type="submit"],
#sortByDueDate input[type="submit"],
#sortByDateCompleted input[type="submit"],
#viewFull input[type="submit"] {
  background: none;
  transition: all 1s ease-out;
}

#showUncompleted input[type="submit"]:hover,
#showAll input[type="submit"]:hover,
#showCompleted input[type="submit"]:hover,
#viewMinimal input[type="submit"]:hover,
#viewRegular input[type="submit"]:hover,
#sortByDueDate input[type="submit"]:hover,
#sortByDateCompleted input[type="submit"]:hover,
#viewFull input[type="submit"]:hover {
  background: $link;
}

// show sub-menus on hover
.showMenu:hover #showAll,
.showMenu:hover #showCompleted,
.showMenu:hover #showUncompleted,
.showMenu:hover #viewMinimal,
.showMenu:hover #viewRegular,
.showMenu:hover #sortByDueDate,
.showMenu:hover #sortByDateCompleted,
.showMenu:hover #viewFull {
  height: 30px;
  opacity: 1;
}

.showMenu:hover #tagOption,
.showMenu:hover #tagFilter {
  height: 30px;
  opacity: 1;
}

#orderToggle,
#changeThemeToggle {
  display: flex;
  flex-direction: column;
}

#orderToggleButton,
#changeThemeButton {
  background: none;
  font-size: 16px;
  padding: 5px;
  transition: all 1s ease-out;
}

#orderToggleButton:hover,
#changeThemeButton:hover {
  cursor: pointer;
  background: $link;
}

// Style tags
#tagList {
  display: flex;
  max-width: 800px;
  height: auto;
  width: auto;
  background: $fg1;
  color: $bg0;
}

#tagOption {
  background: $fg1;
  color: $bg0;
  border-radius: 3px;
  height: 0px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

#tagFilter {
  height: 0px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

#tagOption:hover {
  background: $link;
}

// style nav
.displayMenu {
  display: flex;
  list-style-type: none;
  flex-grow: 2;
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  background: $fg1;
}

.showMenu {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding-left: 10px;
  background: $fg1;
  color: $bg0;
}

.showMenu:hover {
  cursor: default;
}

.mobileMenu {
  color: $bg0;
  opacity: 0;
  transition: all 0.5s ease-in;
}

// Style nav for small screen
@media (max-width: 750px) {
  .displayMenu {
    flex-direction: column;
    align-items: left;
    width: 80%;
  }

  .showButtons {
    width: 90%;
  }

  .Tasks {
    align-items: left;
    justify-content: left;
    margin: 5px;
  }

  .mobileMenu {
    opacity: 1;
    margin: 10px;
    visibility: collapse;
  }

  .taskItem {
    flex-wrap: wrap;
  }

  .taskActions {
    flex-direction: column-reverse;
  }

  .taskActions * {
    visibility: visible;
  }
}

// Style tasks
.Tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  padding: 5px;
  margin: 20px 0px 20px 0px;
}

.Task {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.taskBody {
  display: flex;
  justify-content: space-evenly;
}

.taskInfo {
  display: flex;
}

.taskItem {
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
}

// Hide task option buttons unless hovering
#deleteTask,
#duplicateTask,
#showEditForm {
  visibility: hidden;
}

.taskBody:hover #duplicateTask,
.taskBody:hover #deleteTask,
.taskBody:hover #showEditForm {
  visibility: visible;
}

#editTask {
  width: 100%;
}

#tags {
  color: $fg1;
}

em {
  font-size: 14px;
}

.logOut {
  @media (max-width: 750px) {
    margin-left: 20px;
  }
  margin: 0px 10px 0px auto;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logOutButton {
  padding: 5px;
  border-radius: 3px;
  transition: all 1s ease-out;
}

.logOutButton:hover {
  background: $link;
  cursor: pointer;
}

.logOut a {
  color: $bg0;
  text-decoration: none;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  background: $link;

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: $bg0;

  text-transform: capitalize;
}
